* {
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
}

/*** Header ***/
header {
    height: 150px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/welcomebg.jpg');
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 600px) {
    header {
        height: 250px;
    }
}

/*** Intro section ***/
.intro {
    position: absolute;
    top: 10%;
    left: 7.5%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-name {
    font-size: 200%;
    font-weight: 500;
    color: white;
    margin-top: 5px;
    margin-left: 3%;
}

@media only screen and (min-width: 600px) {
    .intro {
        top: 15%;
    }

    .profile-img {
        width: 200px;
        height: 200px;
    }

    .profile-name {
        margin-top: 5%;
    }
}  

@media only screen and (min-width: 1080px) {
    .profile-img {
        width: 250px;
        height: 250px;
    }

    .profile-name {
        font-size: 300%;
        margin-top: 2%;
        margin-left: 1%;
    }
}

/*** Main Content ***/
.main-content {
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.skill-heading {
    margin-top: 40px;
    font-size: 150%;
    font-weight: 700;
}

.card-img-top {
    height: 250px;
}

.favorite-saying {
    font-size: 100%;
    font-weight: 400;
    font-style: italic;
}

.project-title {
    font-size: 200%;
    font-weight: 700;
    margin-top: 20px;
}

.recent-project-subheading {
    font-size: 120%;
}

.project-showcase {
    margin-top: 50px;
}

.project-item {
    position: relative;
    margin-top: 20px;
    padding-bottom: 50px;
}

.item-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.btn-case {
    display: flex;
    flex-direction: row;
}

.app-btn {
    background-color: rgb(59 130 246);
    color:white;
    text-decoration: none;
    padding: 12px;
}

.code-btn {
    margin-left: auto;
}

@media only screen and (min-width: 600px) {
    .main-content {
        margin-top: 150px;
    }

    .favorite-saying {
        font-size: 120%;
    }

    .project-title {
        font-size: 300%;
        font-weight: 800;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1080px) {
    .main-content {
        margin-top: 200px;
    }
}

/*** Footer ***/
footer {
    margin-top: 150px;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    color: white;
    text-align: center;
}